body { 
    font-family: 'Inter', sans-serif; 
}

p {
    line-height: 1.625;
    color: #5c6165;
}

.card {
    background-color: #fff;
    transition: all 0.6s ease;
}

@keyframes scaleUp {
    0% { transform: scale(0.85); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.animate-scaleUp {
    animation: scaleUp 0.25s ease-out;
}
